.brand {
	background-color: hsl(52, 76%, 67%);
	.brand__box {
		display: flex;
		justify-content: space-between;
		padding: 60px 0 55px;
	}
	.box {
		display: flex;
		align-items: normal;
		height: 70px;
		width: 140px;
	}
}
