.header {
	.nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		align-items: center;
		padding: 46px 0 56px;
		.menu {
			button {
				font-size: 22px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				letter-spacing: 0.22px;
				margin-right: 65px;
				cursor: pointer;
				&:hover {
					border-bottom: 1px solid #ebd96b;
				}
				&:last-of-type {
					margin-right: 0;
					color: #fefefe;
					font-size: 24px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					letter-spacing: -0.72px;
					border-radius: 7px;
					background: #000;
					padding: 13px 22px 17px;
					&:hover {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}
